<h1>Login</h1>
<h3>Faça login para continuar</h3>

<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
  </div>
  <button mat-raised-button type="submit"  color="primary" [disabled]="!loginForm.valid">Login</button>
</form>
<br>  
<a routerLink='/register'>Ainda não é cadastrado ? Clique aqui para cadastrar-se !</a>

